@{
    ViewBag.Title = "Home Page";
}

@model IEnumerable<MyProject.DTOs.BlogDto>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id = item.BlogId }) |
            @Html.ActionLink("Details", "Details", new { id = item.BlogId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.BlogId })
        </td>*@
    </tr>
    <br />
}